@use 'variaveis';

.hero {
    padding: 32vw;
    background-image: url(../images/avengers_hero.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 100px;

    @media (max-width: 768px) {
        background-image: url(../images/avengers_hero.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__content {

        img {
            padding-top: 4vw;
            max-width: 34.5vw;
        }

        @media (max-width: 768px) {
            max-width: 3px;
        }
    }
}